.page__links {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 36px 0;
}
.page__links a {
  color: #78258D;
  text-decoration: underline;
}
.page__links span {
  font-size: 24px;
  margin: 0 16px;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 100%;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #585858;
  margin-bottom: 56px;
}

.about__us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__us__part {
  width: 50%;
}
.about__us__part:nth-child(odd) {
  margin-right: 40px;
}
.about__us__part .title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 900;
  color: #232323;
  margin-bottom: 24px;
}
.about__us__part .title span {
  color: #78258D;
}
.about__us__part .text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #585858;
}