.ask {
  background: #EFEFFF;
  padding: 40px 100px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
}
.ask .subtitle {
  max-width: 450px;
}

#ask__question {
  margin-top: 100px;
  margin-bottom: 100px;
}