.header {
  padding: 100px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__part:first-child .lan_to_go {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #2E90D1;
  margin-bottom: 15px;
}
.header__part:first-child h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 900;
  color: #232323;
  max-width: 680px;
  margin-bottom: 20px;
}
.header__part:first-child p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
  color: #828282;
  margin-bottom: 56px;
  max-width: 490px;
}
.header__part:first-child .header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__part:first-child .header__btns .header__btn:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__part:first-child .header__btns .header__btn:last-child .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFEFEF;
  margin-right: 12px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__part:first-child .header__btns .header__btn:last-child .play:hover {
  background-color: #faeaea;
}
.header__part:first-child .header__btns .header__btn:last-child span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #585858;
}
.header__part:first-child .header__btns .header__btn:last-child:hover {
  cursor: pointer;
}
.header__part:first-child .header__btns .header__btn:last-child:hover span {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #E42125;
}

.all__courses {
  margin-bottom: 200px;
}
.all__courses__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.all__courses__title .title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 650px;
}
.all__courses__slider {
  margin: 60px 0;
  width: 100%;
  overflow: hidden;
}
.all__courses__slider__move {
  margin-left: -100%;
}
.all__courses__list {
  width: 200%;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all__courses__list .all__courses__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all__courses__list .all__courses__row .all__courses__card {
  max-width: 453px;
  padding: 40px;
  border-radius: 10px;
}
.all__courses__list .all__courses__row .all__courses__card .card__title {
  font-size: 26px;
  line-height: 113%;
  font-weight: 700;
  color: #232323;
  margin: 20px 0;
}
.all__courses__list .all__courses__row .all__courses__card .card__length {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #585858;
  margin-bottom: 5px;
}
.all__courses__list .all__courses__row .all__courses__card .card__length span {
  font-weight: 700;
}
.all__courses__list .all__courses__row .all__courses__card .card__modules {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #585858;
  margin-bottom: 25px;
}
.all__courses__list .all__courses__row .all__courses__card .card__modules span {
  font-weight: 700;
}
.all__courses__list .all__courses__row .all__courses__card .card__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all__courses__list .all__courses__row .all__courses__card .card__links .card__link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #78258D;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.all__courses__list .all__courses__row .all__courses__card .card__links .card__link span {
  margin-left: 8px;
}
.all__courses__list .all__courses__row .all__courses__card .card__links .card__link:hover {
  color: #2E90D1;
}
.all__courses__list .all__courses__row .all__courses__card .card__links .card__price {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #232323;
}
.all__courses__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all__courses__dots .all__courses__dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #BB92C6;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}
.all__courses__dots .all__courses__dot:first-child {
  margin-right: 16px;
}
.all__courses__dots .all__courses__dot:hover {
  cursor: pointer;
  background-color: #78258D;
}
.all__courses__dots .active__dot {
  background-color: #78258D;
}

.whom {
  position: relative;
  margin-bottom: 120px;
}
.whom .bg__message {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.whom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.whom__list .whom__title {
  max-width: 453px;
}
.whom__list .whom__title .title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 100%;
  margin-bottom: 27px;
}
.whom__list .whom__title p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #585858;
  margin-bottom: 40px;
}
.whom__list .whom__title span {
  color: #2E90D1;
}
.whom__list .whom__content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.whom__list .whom__content__row .whom__content__item:first-child {
  margin-right: 120px;
}
.whom__list .whom__content__row:last-child {
  margin-bottom: 0;
}
.whom__list .whom__content__item {
  max-width: 374px;
}
.whom__list .whom__content__item .item__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #232323;
  margin-top: 16px;
  margin-bottom: 10px;
}
.whom__list .whom__content__item .item__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #585858;
}
.whom__btn {
  position: relative;
  z-index: 5;
}

.why {
  margin-bottom: 100px;
}
.why .title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.why__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.why__row:last-child {
  margin-bottom: 0;
}
.why__item__number {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  display: inline-block;
  padding: 4px 22px;
  border-radius: 100px;
  margin-bottom: 22px;
}
.why__item__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #232323;
  margin-bottom: 20px;
}
.why__item__text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #585858;
  max-width: 540px;
}
.why__item .blue {
  background-color: #2E90D1;
}
.why__item .purple {
  background-color: #78258D;
}
.why__item .red {
  background-color: #E42125;
}
.why__btn {
  margin-top: 40px;
}

.promo {
  margin-bottom: 100px;
}
.promo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  background: linear-gradient(135deg, rgba(46, 144, 209, 0.1) 0%, rgba(120, 37, 141, 0.1) 100%);
  padding: 90px;
  border-radius: 40px;
}
.promo__part:last-child {
  max-width: 600px;
}
.promo__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 100%;
  margin-bottom: 24px;
}
.promo__title span {
  background: linear-gradient(135deg, #2E90D1 0%, #78258D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promo__bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 16px;
}
.promo__bullet:last-child {
  margin-bottom: 0;
}
.promo__bullet div {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: linear-gradient(135deg, #2E90D1 0%, #78258D 100%);
  margin-top: 8px;
  margin-right: 18px;
}
.promo__bullet p {
  max-width: 560px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #585858;
}

.testimonials {
  margin-bottom: 100px;
}
.testimonials__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}
.testimonials__title .title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 440px;
}
.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.testimonials__part {
  width: 50%;
}
.testimonials__part:first-child {
  margin-right: 40px;
}
.testimonials__part:first-child img {
  width: 100%;
}
.testimonials__part:last-child {
  margin-top: 40px;
}
.testimonials__slider {
  width: 100%;
  overflow: hidden;
}
.testimonials__slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.testimonials__slider__item {
  display: none;
  width: 100%;
  padding: 40px 65px;
  border-radius: 10px;
}
.testimonials__slider__item .comment__author__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.testimonials__slider__item .comment__author {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #232323;
}
.testimonials__slider__item .comment__author span {
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
}
.testimonials__slider__item .comment__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials__slider__item .comment__stars i {
  margin-left: 10px;
  font-size: 24px;
  color: #78258D;
}
.testimonials__slider__item .comment__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #4f4f4f;
}
.testimonials__slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.testimonials__slider__dots .testimonials__slider__dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #BB92C6;
  margin-right: 12px;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}
.testimonials__slider__dots .testimonials__slider__dot:last-child {
  margin-right: 0;
}
.testimonials__slider__dots .testimonials__slider__dot:hover {
  cursor: pointer;
  background-color: #78258D;
}
.testimonials__slider__dots .active__dot {
  background-color: #78258D;
}
.testimonials .show {
  display: block;
}
.testimonials .fade {
  -webkit-animation: fade 1s ease;
          animation: fade 1s ease;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.register {
  margin-bottom: 100px;
}
.register__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  background: #EFEFFF;
  padding: 90px 100px;
  border-radius: 40px;
}
.register__part:first-child {
  width: 50%;
}
.register__part:first-child h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 100%;
  margin-bottom: 40px;
}
.register__part:first-child span {
  font-size: 14px;
  line-height: 113%;
  font-weight: 500;
  color: #232323;
}
.register__part:first-child form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 25px;
}
.register__part:first-child form .input__tel {
  padding-left: 16px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 20px;
}
.register__part:first-child form .btn__tel {
  display: inline-block;
  font-size: 16px;
  color: white;
  background-color: #78258D;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #78258D;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.register__part:first-child form .btn__tel:hover {
  cursor: pointer;
  color: #78258D;
  background-color: inherit;
}
.register__part:last-child img {
  margin-right: 55px;
}
.register__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.register__checkbox input[type=checkbox] {
  width: 24px;
  height: 24px;
  border: 1px solid #BC92C6;
  border-radius: 4px;
  margin-right: 15px;
}
.register__checkbox a {
  color: #2E90D1;
  text-decoration: underline;
}

.news {
  margin-bottom: 100px;
}
.news__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news__title .title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 100%;
  margin-bottom: 60px;
}
.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.news__item {
  width: 33.3333333333%;
  margin-right: 40px;
  padding: 40px;
  border: 1px solid #EFEFFF;
  -webkit-box-shadow: 0px 4px 20px #F7F6FB;
          box-shadow: 0px 4px 20px #F7F6FB;
  border-radius: 20px;
}
.news__item:last-child {
  margin-right: 0;
}
.news__item__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #232323;
  margin-bottom: 6px;
}
.news__item__date {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #2E90D1;
  margin-bottom: 10px;
}
.news__item__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #585858;
  margin-bottom: 25px;
}
.news__item__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news__item__type {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #333;
  padding: 4px 20px;
  border-radius: 4px;
  background-color: #EFEFFF;
}
.news__item .red__type {
  background-color: #FDEDE4 !important;
}
.news__item__link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #78258D;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.news__item__link i {
  margin-left: 15px;
}
.news__item__link:hover {
  color: #2E90D1;
}

.faq {
  margin-bottom: 100px;
}
.faq__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.faq__part:first-child {
  width: 35%;
  margin-right: 40px;
}
.faq__part:first-child .title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  max-width: 400px;
  margin-bottom: 30px;
}
.faq__part:first-child .faq__btn {
  margin-bottom: 60px;
}
.faq__part:first-child img {
  width: 100%;
}
.faq__part:last-child {
  width: 65%;
}
.faq__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 20px rgba(46, 144, 209, 0.08);
          box-shadow: 0px 5px 20px rgba(46, 144, 209, 0.08);
  border: 1px solid #EFEFFF;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq__item .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #232323;
}
.faq__item .question i {
  color: #78258D;
}
.faq__item .question__open {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #78258D;
  font-weight: 300;
  font-size: 40px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.faq__item .question__open:hover {
  cursor: pointer;
  background-color: #78258D;
  color: white;
}
.faq__item .question__close {
  border: 1px solid #78258D;
  background-color: #78258D;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.faq__item .question__close:hover {
  background-color: inherit;
  color: #78258D;
}
.faq__item .answer {
  display: none;
  margin-top: 16px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #585858;
}
.faq__item .answer__show {
  display: block;
}
.faq__item .answer__fade {
  -webkit-animation: faq__fade 0.5s ease;
          animation: faq__fade 0.5s ease;
}
@-webkit-keyframes faq__fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes faq__fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.faq__active {
  background-color: #EFEFFF;
}

.footer {
  padding: 80px;
  background-color: #78258D;
  color: white;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__part:nth-child(1) .footer__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 290px;
}
.footer__part:nth-child(1) .footer__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__part:nth-child(1) .footer__brands img {
  margin-right: 14px;
}
.footer__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: 12px;
}
.footer__link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  opacity: 0.8;
  margin-bottom: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.footer__link:hover {
  opacity: 1;
}
.footer__phone {
  font-size: 18px;
  line-height: 113%;
  font-weight: 700;
  color: white;
  letter-spacing: 0.01em;
}
.footer__contact {
  font-size: 16px;
  line-height: 113%;
  font-weight: 400;
  color: white;
  opacity: 0.8;
  margin-top: 15px;
}
.footer__socials {
  margin-top: 40px;
}
.footer__socials i {
  opacity: 0.8;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.footer__socials i:hover {
  opacity: 1;
}
.footer__bottom {
  padding: 12px 0;
  background-color: #232323;
}
.footer__bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom__part div,
.footer__bottom__part a {
  color: white;
  opacity: 0.8;
}
.footer__bottom__part a {
  margin-left: 40px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.footer__bottom__part a:hover {
  opacity: 1;
}