.subtitle {
  max-width: 585px;
}

.support__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}
.support__part:first-child {
  width: 67%;
}
.support__part:last-child {
  position: relative;
  width: 33%;
}
.support__part img {
  position: absolute;
  right: 0;
}
.support__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #232323;
  margin-bottom: 12px;
}
.support__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #585858;
  letter-spacing: 0.02em;
  padding-bottom: 30px;
}
.support__form {
  margin: 40px 0;
}

.form__grid {
  display: -ms-grid;
  display: grid;
}
.form__grid label {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #232323;
}
.form__grid label span {
  color: #EFEFFF;
}
.form__grid input,
.form__grid textarea {
  display: block;
  padding: 18px;
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #232323;
}
.form__grid input:focus,
.form__grid textarea:focus {
  border: 2px solid #78258D;
  background: white;
}
.form__grid input ::-webkit-input-placeholder, .form__grid textarea ::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
}
.form__grid input ::-moz-placeholder, .form__grid textarea ::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
}
.form__grid input :-ms-input-placeholder, .form__grid textarea :-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
}
.form__grid input ::-ms-input-placeholder, .form__grid textarea ::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
}
.form__grid input ::placeholder,
.form__grid textarea ::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
}
.form__grid textarea {
  resize: none;
  height: 100px;
}
.form__grid button {
  display: inline-block;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  gap: 40px;
}
.form__part {
  width: 100%;
}