@import "variables";
@import "mixins";

.title{
     margin-bottom: 35px;
}

.catalog{
     margin-bottom: 80px;
     &__btns{
          @include flex($jc: flex-start);
          gap: 15px;
          margin-bottom: 32px;
     }
     &__btn{
          padding: 5px 20px;
          background-color: $lightBlue;
          color: #4f4f4f;
          border-radius: 4px;
          transition: 0.25s ease;

          &:hover{
               background-color: $purple;
               color: white;
               cursor: pointer; 
          }
     }
     .active__btn{
          background-color: $purple;
          color: white;
     }
     &__list{
          @include flex($ai: flex-start);
     }
     &__part{
          &:first-child{
               width: 75%;
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               grid-gap: 40px;     
          }
          &:last-child{
               width: 25%;
          }
     }
     &__item{
          padding: 40px;
          border-radius: 10px;

          .card{
               &__title{
                    @include text(26px, 113%, 700, $black);
                    margin: 20px 0;
               }
               &__length{
                    @include text(16px, 120%, 400, $gray);
                    margin-bottom: 5px;
                    span{
                         font-weight: 700;
                    }
               }
               &__modules{
                    @include text(16px, 120%, 400, $gray);
                    margin-bottom: 25px;
                    span{
                         font-weight: 700;
                    }
               }
               
               &__links{
                    @include flex();
                    .card__link{
                         @include text(16px, 24px, 600, $purple);
                         transition: 0.2s ease;
                         span{
                              margin-left: 8px;
                         }
                         &:hover{
                              color: $blue;
                         }
                    }
                    .card__price{
                         @include text(20px, 22px, 700, $black);
                    }
               }
          }
     }
     .level{
          padding: 30px;
          margin-bottom: 30px;
          &__title{
               @include text(20px, 28px, 500, black);
               margin-bottom: 20px;
          }
          &__row{
               @include flex($jc: flex-start);
               @include text(16px, 24px, 500, #333);
               margin-bottom: 18px;
          }
          input[type="checkbox"]{
               width: 24px;
               height: 24px;
               border: 1px solid #BC92C6;
               border-radius: 4px;
               margin-right: 17px;
          }
     }
}

.hide{
     display: none;
}