@import "variables";
@import "mixins";

.header{
     padding: $mb 0;
}

.header__list{
     @include flex();
}

.header__part:first-child{
     .lan_to_go{
          @include text(18px, 22px, 600, $blue);
          margin-bottom: 15px;
     }
     h1{
          @include text(60px, 70px, 900, $black);
          max-width: 680px;
          margin-bottom: 20px;
     }
     p{
          @include text(20px, 35px, 500, #828282);
          margin-bottom: 56px;
          max-width: 490px;
     }
     .header__btns{
          @include flex($jc: flex-start);
          .header__btn:last-child{
               @include flex($jc: flex-start);
               .play{
                    @include flex($jc: center);
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    background-color: #FFEFEF;
                    margin-right: 12px;
                    transition: 0.3s ease;
                    &:hover{
                         background-color: #faeaea;
                    }
               }
               span{
                    @include text(16px, 24px, 500, $gray);
               }
               &:hover{
                    cursor: pointer;
                    span{
                         transition: 0.2s ease;
                         color: $red;
                    }
               }
          }
     }
}

.all__courses{
     margin-bottom: $mb * 2;
     &__title{
          @include flex($ai: flex-end);
          .title{
               @include title(650px);
          }
     }
     &__slider{
          margin: 60px 0;
          width: 100%;
          overflow: hidden;
     }
     &__slider__move{
          margin-left: -100%;
     }
     &__list{
          width: 200%;
          transition: 0.8s ease;
          @include flex();
          .all__courses__row{
               width: 100%;
               @include flex();
               .all__courses__card{
                    max-width: 453px;
                    padding: 40px;
                    border-radius: 10px;

                    .card__title{
                         @include text(26px, 113%, 700, $black);
                         margin: 20px 0;
                    }
                    .card__length{
                         @include text(16px, 120%, 400, $gray);
                         margin-bottom: 5px;
                         span{
                              font-weight: 700;
                         }
                    }
                    .card__modules{
                         @include text(16px, 120%, 400, $gray);
                         margin-bottom: 25px;
                         span{
                              font-weight: 700;
                         }
                    }
                    
                    .card__links{
                         @include flex();
                         .card__link{
                              @include text(16px, 24px, 600, $purple);
                              transition: 0.2s ease;
                              span{
                                   margin-left: 8px;
                              }
                              &:hover{
                                   color: $blue;
                              }
                         }
                         .card__price{
                              @include text(20px, 22px, 700, $black);
                         }
                    }
               }
               .blue{
                    background-color: #DEF1FF;
               }
               .red{
                    background-color: #FDEDE4;
               }
               .light{
                    background-color: #EFEFEF;
               }
          }
     }
     &__dots{
          @include flex($jc: center);
          .all__courses__dot{
               width: 12px;
               height: 12px;
               border-radius: 100%;
               background-color: #BB92C6;
               transition: 0.15s ease;
               &:first-child{
                    margin-right: 16px;
               }
               &:hover{
                    cursor: pointer;
                    background-color: $purple;
               }
          }
          .active__dot{
               background-color: $purple;
          }
     }
}

.whom{
     position: relative;
     margin-bottom: $mb + 20px;
     .bg__message{
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
     }
     &__list{
          @include flex($ai: flex-start);
          .whom__title{
               max-width: 453px;
               .title{
                    @include title();
                    margin-bottom: 27px;
               }
               p{
                    @include text(20px, 28px, 500, $gray);
                    margin-bottom: 40px;
               }
               span{
                    color: $blue;
               }
          }
          .whom__content{
               &__row{
                    @include flex();
                    margin-bottom: 80px;
                    .whom__content__item:first-child{
                         margin-right: 120px;
                    }
                    &:last-child{
                         margin-bottom: 0;
                    }
               }
               &__item{
                    max-width: 374px;
                    .item__title{
                         @include text(24px, 32px, 700, $black);
                         margin-top: 16px;
                         margin-bottom: 10px;
                    }
                    .item__text{
                         @include text(16px, 24px, 500, $gray);
                    }
               }
          }
     }
     &__btn{
          position: relative;
          z-index: 5;
     }
}

.why{
     margin-bottom: $mb;
     .title{
          @include title();
          text-align: center;
          margin-bottom: 60px;
     }
     &__row{
          @include flex();
          margin-bottom: 60px;
          &:last-child{
               margin-bottom: 0;
          }
     }
     &__item{
          &__number{
               @include text(18px, 20px, 700, white);
               display: inline-block;
               padding: 4px 22px;
               border-radius: 100px;
               margin-bottom: 22px;
          }
          &__title{
               @include text(36px, 40px, 700, $black);
               margin-bottom: 20px;
          }
          &__text{
               @include text(20px, 28px, 500, $gray);
               max-width: 540px;
          }     
          .blue{
               background-color: $blue;
          }
          .purple{
               background-color: $purple;
          }
          .red{
               background-color: $red;
          }
     }
     &__btn{
          margin-top: 40px;
     }
}

.promo{
     margin-bottom: $mb;
     &__row{
          @include flex();
          max-width: 100%;
          background: linear-gradient(135deg, rgba(46, 144, 209, 0.1) 0%, rgba(120, 37, 141, 0.1) 100%);
          padding: 90px;
          border-radius: 40px;
     }
     &__part{
          &:last-child{
               max-width: 600px;
          }
     }
     &__title{
          @include title();
          margin-bottom: 24px;
          span{
               background: $gradient;
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
          }
     }
     &__bullet{
          @include flex(flex-start, flex-start);
          margin-bottom: 16px;
          &:last-child{
               margin-bottom: 0;
          }
          div{
               display: block;
               width: 16px;
               height: 16px;
               border-radius: 100%;
               background: $gradient;
               margin-top: 8px;
               margin-right: 18px;
          }
          p{
               max-width: 560px;
               @include text(20px, 28px, 500, $gray);
          }
     }
}