@import "variables";
@import "mixins";

.header{
     padding: 100px 0;
}

.header__list{
     @include flex();
}

.header__part:first-child{
     .lan_to_go{
          @include text(18px, 22px, 600, $blue);
          margin-bottom: 15px;
     }
     h1{
          @include text(60px, 70px, 900, $black);
          max-width: 680px;
          margin-bottom: 20px;
     }
     p{
          @include text(20px, 35px, 500, #828282);
          margin-bottom: 56px;
          max-width: 490px;
     }
     .header__btns{
          @include flex($jc: flex-start);
          .header__btn:last-child{
               @include flex($jc: flex-start);
               .play{
                    @include flex($jc: center);
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    background-color: #FFEFEF;
                    margin-right: 12px;
               }
               span{
                    @include text(16px, 24px, 500, $gray);
               }
          }
     }
}

.all__courses{
     margin-bottom: 200px;
     &__title{
          @include flex($ai: flex-end);
          .title{
               @include title(650px);
          }
     }
     &__slider{
          margin: 60px 0;
          width: 100%;
          overflow: hidden;
     }
     &__slider__move{
          margin-left: -100%;
     }
     &__list{
          width: 200%;
          transition: 0.8s ease;
          @include flex();
          .all__courses__row{
               width: 100%;
               @include flex();
               .all__courses__card{
                    max-width: 453px;
                    padding: 40px;
                    border-radius: 10px;

                    .card__title{
                         @include text(26px, 113%, 700, $black);
                         margin: 20px 0;
                    }
                    .card__length{
                         @include text(16px, 120%, 400, $gray);
                         margin-bottom: 5px;
                         span{
                              font-weight: 700;
                         }
                    }
                    .card__modules{
                         @include text(16px, 120%, 400, $gray);
                         margin-bottom: 25px;
                         span{
                              font-weight: 700;
                         }
                    }
                    
                    .card__links{
                         @include flex();
                         .card__link{
                              @include text(16px, 24px, 600, $purple);
                              span{
                                   margin-left: 8px;
                              }
                              &:hover{
                                   color: $blue;
                              }
                         }
                         .card__price{
                              @include text(20px, 22px, 700, $black);
                         }
                    }
               }
               .blue{
                    background-color: #DEF1FF;
               }
               .red{
                    background-color: #FDEDE4;
               }
               .light{
                    background-color: #EFEFEF;
               }
          }
     }
     &__dots{
          @include flex($jc: center);
          .all__courses__dot{
               width: 12px;
               height: 12px;
               border-radius: 100%;
               background-color: #BB92C6;
               transition: 0.15s ease;
               &:first-child{
                    margin-right: 16px;
               }
               &:hover{
                    cursor: pointer;
                    background-color: $purple;
               }
          }
          .active__dot{
               background-color: $purple;
          }
     }
}

.whom{
     position: relative;
     margin-bottom: 120px;
     .bg__message{
          position: absolute;
          top: 0;
          left: 0;
     }
     &__list{
          @include flex($ai: flex-start);
          .whom__title{
               max-width: 453px;
               .title{
                    @include title();
                    margin-bottom: 27px;
               }
               p{
                    @include text(20px, 28px, 500, $gray);
                    margin-bottom: 40px;
               }
               span{
                    color: $blue;
               }
          }
          .whom__content{
               &__row{
                    @include flex();
                    margin-bottom: 80px;
                    .whom__content__item:first-child{
                         margin-right: 120px;
                    }
                    &:last-child{
                         margin-bottom: 0;
                    }
               }
               &__item{
                    max-width: 374px;
                    .item__title{
                         @include text(24px, 32px, 700, $black);
                         margin-top: 16px;
                         margin-bottom: 10px;
                    }
                    .item__text{
                         @include text(16px, 24px, 500, $gray);
                    }
               }
          }
     }

}