@import "variables";
@import "mixins";

@import url('../css/reset.css');
@import url('../css/style.css');

body{
     font-family: 'Gilroy', sans-serif;
}

.none{
     display: none;
}

.container{
     margin: 0 auto;
     width: $container__width;
}

.btn{
     @include btn(18px, white, $purple, 18px 27px);
     margin-right: 32px;
}

.btn__inverse{
     @include btn(16px, $purple, white, 14px 16px);
     border: 1px solid $purple;
     transition: 0.25s ease;

     &:hover{
          color: white;
          background-color: $purple;
     }
}


.page__links{
     @include text(14px, 24px, 400, $lightGray);
     @include flex($jc: flex-start);
     margin: 36px 0;
     a{
          color: $purple;
          text-decoration: underline;
     }
     span{
          font-size: 24px;
          margin: 0 16px;
     }
}


.title{
     @include title();
     margin-bottom: 10px;
}

.subtitle{
     @include text(20px, 28px, 500, $gray);
     margin-bottom: 56px;
}


.blue{
     background-color: #DEF1FF;
}
.red{
     background-color: #FDEDE4;
}
.light{
     background-color: #EFEFEF;
}

/* NavBar */
nav{
     @include flex();
     padding: 24px 50px;
     background-color: #fff;
     box-shadow: 0px 0px 4px rgba(120, 37, 141, 0.15);

     .nav__part:first-child{
          @include flex($jc: flex-start);
          .nav__logo{
               margin-right: 70px;
          }
         
     }
     .nav__link{
          @include text(16px, 24px, 600, $black);
          margin-right: 45px;
          transition: 0.2s ease;
          &:hover{
               cursor: pointer;
               color: $gray;
          }
     }
}

.nav__btn{
     @include btn();
}

/* Footer */
.footer{
     padding: 80px;
     background-color: $purple;
     color: white;
     &__row{
          @include flex($ai: flex-start);
     }
     &__part{
          &:nth-child(1){
               .footer__text{
                    @include text(14px, 17px, 500, white);
                    margin-top: 30px;
                    margin-bottom: 40px;
                    max-width: 290px;
               }
               .footer__brands{
                    @include flex($jc: flex-start);
                    img{
                         margin-right: 14px;
                    }
               }
          }
     }
     &__title{
          @include text(24px, 32px, 700, white);
          margin-bottom: 12px;
     }
     &__link{
          display: block;
          @include text(16px, 24px, 400, white);
          opacity: 0.8;
          margin-bottom: 4px;
          transition: 0.2s ease;
          &:hover{
               opacity: 1;
          }
     }
     &__phone{
          @include text(18px, 113%, 700, white);
          letter-spacing: 0.01em;
     }
     &__contact{
          @include text(16px, 113%, 400, white);
          opacity: 0.8;
          margin-top: 15px;
     }
     &__socials{
          margin-top: 40px;
          i{
               opacity: 0.8;
               color: white;
               font-size: 20px;
               margin-right: 20px;
               transition: 0.2s ease;
               &:hover{
                    opacity: 1;
               }
          }
     }

     &__bottom{
          padding: 12px 0;
          background-color: $black;
          &__row{
               @include flex();
          }
          &__part{
               div,
               a{
                    color: white;
                    opacity: 0.8;
               }
               a{
                    margin-left: 40px;
                    transition: 0.2s ease;
                    &:hover{
                         opacity: 1;
                    }
               }
          }
     }
}

/* Register */
.register{
     margin-bottom: $mb;
     &__row{
          @include flex();
          max-width: 100%;
          background: $lightBlue;
          padding: 90px 100px;
          border-radius: 40px;
     }
     &__part:first-child{
          width: 50%;
          h2{
               @include title();
               margin-bottom: 40px;
          }
          span{
               @include text(14px, 113%, 500, $black);
          }
          form{
               @include flex();
               height: 48px;
               margin-top: 8px;
               margin-bottom: 25px;
               .input__tel{
                    padding-left: 16px;
                    height: 100%;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 8px;
                    margin-right: 20px;
               }
               .btn__tel{
                    @include btn(16px, white, $purple, 12px 20px);
               }
          }
     }
     &__part:last-child{
          img{
               margin-right: 55px;
          }
     }
     &__checkbox{
          @include flex($ai: flex-start);
          input[type="checkbox"]{
               width: 24px;
               height: 24px;
               border: 1px solid #BC92C6;
               border-radius: 4px;
               margin-right: 15px;
          }
          a{
               color: $blue;
               text-decoration: underline;
          }
     }
}