@import "variables";
@import "mixins";

@import url('../css/reset.css');
@import url('../css/style.css');

body{
     font-family: 'Gilroy', sans-serif;
}

.none{
     display: none;
}

.container{
     margin: 0 auto;
     width: $container__width;
}

.btn{
     @include btn(18px, white, $purple, 18px 27px);
     margin-right: 32px;
}

.btn__inverse{
     @include btn(16px, $purple, white, 14px 16px);
     border: 1px solid $purple;
     transition: 0.25s ease;

     &:hover{
          color: white;
          background-color: $purple;
     }
}

/* NavBar */
nav{
     @include flex();
     padding: 24px 50px;
     background-color: #fff;
     box-shadow: 0px 0px 4px rgba(120, 37, 141, 0.15);

     .nav__part:first-child{
          @include flex($jc: flex-start);
          .nav__logo{
               margin-right: 70px;
          }
         
     }
     .nav__link{
          @include text(16px, 24px, 600, $black);
          margin-right: 45px;
          transition: 0.2s ease;
          &:hover{
               cursor: pointer;
               color: $gray;
          }
     }
}

.nav__btn{
     @include btn();
}

